html, body{
	height: 100%;
}
main, nav{
	margin-left: 10%;
	margin-right: 10%;
}
main{
	padding: 10px 20px 10px 20px;
	margin-bottom: 1%;
	background-color: #E4E6FF;
	border-radius: 10px;
	position: relative;
}
#banner{
	position: relative;
	margin-left: 0%;
}
#logo {
   z-index: 11;
   position: absolute;
}
#conf{
	width: 30%;
}
div.center{
	text-align: center;
}
#background_header {
   z-index: 10;
   width: 100%;
}
#cadre{
	border-radius: 20px;
	border: 3px solid #FDA12F;
}
legend{
	color: #FDA12F;
	text-align: center;
	font-size: 150%;
}
h1{
	text-align: center;
	width: 80%;	
	margin-left: 10%;
	margin-right: 10%;
	color: white;
	background-color: #DA7B04;
}
h2{
	text-align: center;
	color: white;
	background-color: #FDA12F;
}
h3{

}
div.soust{
	font-size: 115%;
	font-weight: bold;
}
ul.pre li{
	padding-left: 2%;
	list-style-type: none;
}
nav > ul{
	padding: 0;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
nav > ul > li{
	display: inline-block;
	list-style: none;
	text-align: center;
	padding: 0;
	margin: 0;
	border: solid 1px black;
	width: 170px;
	background-image: linear-gradient(60deg, #DA7B04, #FDA12F);
}
nav ul li a{
	text-decoration: none;
	color: white;
}
nav ul li {
	text-decoration: none;
	color: white;
}
nav ul li ul {
	display: none;
	padding: 0;
	margin: 0;
}
nav ul li:hover ul{
	width: 170px;
	display: block;
	position: absolute;
	list-style: none;
	margin-left: -1px;
	margin-top: 1px;
	border-top: 0;
	border-left: solid 1px black;
	border-right: solid 1px black;
	border-bottom: solid 1px black;
	z-index: 99;
}
nav ul li ul li{
	margin-top: 1px;
	margin-left: 0;
	padding: 0;
	line-height: 18px;
	background-image: linear-gradient(60deg, #DA7B04, #FDA12F);
}
nav ul li ul li a{
	margin: 0;
	padding: 0;
}

#hello{
	border-style: double;
	border-color: #36AEE4;
	margin-left: 5%;
	position: absolute;
	text-align: right;
	z-index: 999;
	left: 84%;
	background-color: #C5CFFF;
}
div.info{
	text-align: center;
	color: white;
	background-color: #FDA12F;
	font-size: 120%;
	margin-left: 10%;
	margin-right:10%;
	padding-bottom: 2%;
}
p.texte{
	padding-left: 5%;
	padding-right: 5%;
}
span.form{
	padding-left: 20px;
	padding-right: 5px;
}
#meme{
	text-decoration: none;
	color: white;
}
#deco{
	text-decoration: none;
}
#courage{
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}
footer{
	bottom: 0;
	position: static;
	width: 100%;
	padding-bottom: 0.5%;
}
footer p, #PS{
	margin-right: 25%;
	margin-left: 25%;
	font-style: italic;
	font-size: 0.8em;
	text-align: center;
}
#shortfoot{
	position: static;
	width: 100%;
}
#champ_vide, #logement_excessif{
	font-family: arial;
	font-weight: bold;
	color: red;
	font-size: 1em;
}
#tab_validation, #tab_validation td{
	border-style: groove;
	border-color: #FDA12F;
	border-collapse:collapse;
	margin-right: auto;
	margin-left: auto;
}
#reserv_faite{
	font-family: arial;
	font-style: italic;
	color: #FDA12F;
	font-size: 2em;
	text-align: center;
}